    <h2>Agregado de experiencia</h2>
<form action="/gestion/experiencias/agregarExp" method="post">
    <div class="mb-3">      
      <label for="exampleFormControlInput1" class="form-label">Nombre de empresa</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="nombreEmpresa">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descripcion"></textarea>
    </div>
</form>